{% extends 'base.html' %}
{% load static %}
{% block title %}Fresh Start{% endblock title %}
{% block content %}
  <style>
    footer {
      padding: 0px 0px 0px 0px;
      background-color: #f8ac07;
      margin: 0px;
      clear: both;
    }

    .fa {
      padding: 20px;
      font-size: 23px;
      width: 60px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    .fa:hover {
      opacity: 0.5;
      text-decoration: none;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
      margin-top: 30px;
    }

    .fa-whatsapp {
      background: #25d366;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

    p {
      text-align: center;

    }
  </style>

<footer>
  <br>
    <div class="container">
      <div class="row">
      <div class="col-md-4">
      <div class="row">
            <h3>About Us</h3>
            <h6>One platform for all your skills. We provide online resources, professionals and guidance to our students, whenever and from where they have choosen to study. Well-qualified teachers with adequate skills and teachers.</h6>
        
        <br>
      </div>
      </div>
      <div class="col-md-4">
      <div class="row">
        <p>
          <a href="https://facebook.com/" class="fa fa-facebook"></a>
         
          <a href="https://instagram.com/" class="fa fa-instagram"></a>
          <a href="https://twitter.com/" class="fa fa-twitter"></a>
        </p>
          <div style="color:white" class="wow fadeInUp footer-copyright">
            <p>
              Copyright &copy; 2021 :All rights reserved </p>
          </div>
          
        <br>
      </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <h3>Contact Us</h3>
          <h6>abc company,mysore karnataka</h6>
          <h6>Phone No: 123456789</h6>
          <h6>Email: abc@gmail.com</h6>
          
          <br>
        </div>
    </div>
    </div>
</div>
</footer>

 
  
{% endblock content %}